.section {
  margin-bottom: 3rem;
}

.section.border {
  padding: 1rem;
  border: 1px solid var(--highlight-color-01);
}

.section:last-child {
  margin-bottom: 0;
}

.section-title {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.section-title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  width: 3rem;
  border-bottom: 4px solid var(--highlight-color-01);
}

@media (max-width: 992px) {
  .section {
    margin-bottom: 2rem;
  }

  .section-title {
    margin-bottom: 2rem;
  }
}

@media print {
  .section-title {
    font-size: 1rem;
  }
}