.intro {
  display: flex;
}

.intro-picture {
  margin: 0 2rem 0 2rem;
  align-self: end;
  position: relative;
}

.intro-picture img {
  border-radius: 100%;
  width: 100%;
  display: block;
  width: 12rem;
}


@media (orientation: portrait) and (max-width: 992px) {
  .intro {
    flex-direction: column-reverse;
  }

  .intro-picture {
    margin: 2rem;
    align-self: center;
  }
}

@media print {
  .intro-name {
    font-size: 1.25rem;
  }

  .intro-picture {
    margin: 0 2rem 2rem 2rem;
  }

  .intro-picture img {
    width: 8rem;
  }
}