.intro {
  display: flex;
  margin-top: 2rem;
  max-width: 60rem;
}

.intro-content {
  padding-right: 2rem;
}

.intro-picture {
  align-self: center;
  position: relative;
}

.intro-picture img {
  border-radius: 100%;
  width: 100%;
  display: block;
  width: 14rem;
}


@media (orientation: portrait) and (max-width: 992px) {
  .intro {
    flex-direction: column-reverse;
  }

  .intro-content {
    margin-top: -2.5rem;
    padding: 2rem 1rem;
  }

  .intro-picture {
    margin: 1rem;
    align-self: center;
  }
}

@media print {


  .intro-name {
    font-size: 1.25rem;
  }

  .intro-picture {
    margin: 0 2rem 2rem 2rem;
  }

  .intro-picture img {
    width: 8rem;
  }
}