.experience-date {
  gap: 5px;
  font-size: 0.875em;
  left: -8rem;
  top: 0;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  text-align: right;
  color: var(--font-color-02);
}


@media (orientation: portrait) and (max-width: 992px) {
  .experience-date {
    position: initial;
  }
}