.experience-date {
  display: inline-flex;
  gap: 5px;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  position: absolute;
  left: -8rem;
}


@media (orientation: portrait) and (max-width: 992px) {
  .experience-date {
    position: initial;
    margin: 0 2rem 1rem;
    display: block;
  }
}