@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root {
  font-family: 'Figtree', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {

  :root,
  .light {
    --color-light-01: #ffffff;
    --color-light-02: lightgray;
    --color-dark-01: #333333;
    --color-dark-02: #707070;
    --color-red: crimson;
    --color-orange: darkorange;
    --color-yellow: gold;
    --color-green: yellowgreen;
    --color-blue: dodgerblue;
    --color-purple: mediumpurple;
    --color-pink: mediumvioletred;

    --font-color-01: var(--color-dark-01);
    --font-color-02: var(--color-dark-02);
    --highlight-color-01: var(--color-green);
    --highlight-color-02: var(--color-light-02);
    --main-background-color: var(--color-light-01);
  }
}

@media (prefers-color-scheme: dark) {

  :root,
  .dark {
    --color-light-01: #ffffff;
    --color-light-02: #aaaaaa;
    --color-dark-01: #262626;
    --color-dark-02: #000000;
    --color-red: crimson;
    --color-orange: orange;
    --color-yellow: yellow;
    --color-green: greenyellow;
    --color-blue: deepskyblue;
    --color-purple: mediumpurple;
    --color-pink: hotpink;

    --font-color-01: var(--color-light-01);
    --font-color-02: var(--color-light-02);
    --highlight-color-01: var(--color-green);
    --highlight-color-02: var(--color-light-02);
    --main-background-color: var(--color-dark-01);
  }
}

body {
  background-color: var(--main-background-color);
  color: var(--font-color-01);
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'League Gothic', sans-serif; */
  text-transform: uppercase;
  font-weight: 900;
  color: var(--font-color-01);
  margin: 0;
  list-style: none;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 0.75rem 0;
  color: var(--font-color-02);
}

strong {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#root {
  border-top: 14px solid var(--highlight-color-01);
}

.App {
  display: grid;
  margin: 0 auto;
  max-width: 70rem;
}

@media (max-width: 992px) {
  #root {
    padding: 1rem 2rem;
  }

  .App {
    grid-template-columns: auto;
    gap: 2rem;
  }

  .top,
  .left,
  .right,
  .bottom {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .left {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }
}

@media (min-width: 993px) {
  #root {
    padding: 2rem 4rem;
  }

  .App {
    grid-template-columns: repeat(6, 1fr);
    gap: 4rem;
  }

  .top {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .left {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .right {
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .bottom {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

@media print {
  #root {
    padding: 2rem;
    font-size: 12px;
  }

  .App {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 100%;
  }

  .top {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .left {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .right {
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .bottom {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }
}